.logosCineAr img {
    height: 40px;
    margin: 40px;
  }
  
  .logosCineAr ul {
    display: flex;
    justify-content: center;
  }
  
  .info p {
    color: white;
    font-size: 12px;
  }
  
  .fLogos ul {
    display: flex;
    justify-content: flex-end;
  }
  
  .parte2 {
    display: flex;
    justify-content: space-between;
    align-items: center ;
  }
  
  .fLogos img {
    margin: 1rem;
  }